html {
  background-color: bisque;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lasa {
  width: 290px;
  float: left;
  margin-right: 30px;
  border-radius: 20px;
}
h1 {
  text-align: center;
  font-weight: bold;
  color: black;
  font-style: italic;
}
h2 {
  font-weight: bold;
  font-style: italic;
}
.info {
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
.ragu {
  width: 220px;
  border-radius: 110px;
  float: left;
  margin-right: 20px;
}
.becha {
  width: 210px;
  float: left;
  margin-right: 20px;
  border-radius: 20px;
  margin-top: 10px;
}
.buon {
  font-style: italic;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

div {
  margin-bottom: 20px;
  margin-top: 80px;
}

.ingredients {
  text-align: left;
}
